
#conteneur
{
	background-color: #fff;
		margin:-1;
}

#logo_g
{
	margin-top: 199px;
}


.barre 
{
	border : 1px solid #dddddd;
	margin-top: 27px;
	padding: 10px ;
	width: 500px;
	height: 20px;
	box-shadow: 0px 2px 2px #dddddd;
}
.barre:hover
{
	
	box-shadow: 0px 5px 4px #dddddd;
}


button 
{
	
	color:#757575;
	background-color: #f2f2f2;
	width: 150px;
	font-size: 13px;
	font-style: bold;
	border : #dddddd;
	padding: 10px;
	margin-top: 20px;
}

button:hover
{
color: black;
border : 1px solid #c6c6c6 ;
border-radius: 2px;
box-shadow:0 1px 1px rgba(0,0,0,0.1) ;
}

a
{
	color:#757575;
	text-decoration: none;
}

a:visited
{
	color:#757575;
	text-decoration: none;
	
}
footer
{    position: absolute;
     bottom: 0;
     left:0;
	width: 100%;
	font-family: arial ;
	color:#717171  ;
	background-color: #f2f2f2;
	/*padding-top: 10px;*/
}

.group_footer 
{	
	border-top : 1px solid #e4e4e4;
	font-size: small;
	display : flex ;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.footer1
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top : 1px solid #e4e4e4;

	height: 40px;
}

/*.footer1:nth-child(1)*/

.footer2
{	/*height: 30px;*/
	width: 250px;
	display: flex;
	justify-content: space-around;
	/*border: 1px solid black;*/

}

.footer3
{	width: 500px;
	display: flex;
	justify-content: space-around;
	/*border: 1px solid black;*/
}
.ft1{
	width: 500px;
		align-items: center;
	 	padding-left:  15px;
	 	font-size: 15px;

}
/*.pub {
	padding-left:  11.2px;
}*/

/*TEST TOP*/


#tete
{
    position: absolute;
    right: 0;
    width: 100%;
    top:10px;
    font-size:small;
}

#bloc_haut_gauche
{
    display: flex;
    align-items: center;
    float: right;
font-family: arial ;
}

.liens_haut_images
{
    padding: 0 15px;
}

.gmail
{
	text-decoration: none;
	opacity: 1.0;
	color: black
}

.gmail:hover
{
	text-decoration: underline;
	opacity: 0.7;
}

#carre
{
	width: 16px;
	height: 16px;
	opacity: 0.6;
	padding: 0 7px;
}

#carre:hover
{
	opacity: 1.0;
}

#connexion
{
	width: 93px;
	height: 30px;
	background-color: #4986EA;
	border: 1px solid #4986EA;
	border-radius: 2px;
	color: white;
	font-size: 12.7px;
	font-weight: bold;
	margin-left: 15px;
	margin-right: 30px;
}

#connexion:hover
{
	box-shadow: 0px 1px 0px #e4e4e4;
}

